.testimonial>.bg-white {
      background-image: url("../../../../assets/icons/quote.svg");
      background-size: 10%;
      background-repeat: no-repeat;
      background-position-x: 90%;
}

.testimonial {
      height: 100%;
      top: -12rem;
}